<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- PDF로 저장하기 위해 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <!-- PDF로 저장하기 위해 -->
<!--    <script type="text/javascript" th:src="@{/js/part3/publishsuccess.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> <!--임포트: jquery를 js에서 사용하기 위해서 -->
    <link href="/css/part3/receiveList.css" rel="stylesheet">
    <style>
.part{
  float: left;
}
.part::-webkit-scrollbar{
  display: none;
}
#titleBox {
  margin-top: 50px;
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

    </style>


  </head>
  <body>
  <header th:replace="~{/fragments/common:: navbar}">
  </header>

  <!-- 완료된 거래명세서 보기 -->
  <div id="myModal2" class="modal2">
    <div class="modal-content2">
      <span class="close2" onclick="closeModal()">&times;</span>
      <form th:action="@{/part3/successModal}" method="get">

        <!-- 숨겨진 입력 필드 -->
        <input type="hidden" id="hiddenInvoiceNumber" name="invoiceNumber">
        <input type="hidden" id="hiddenOrderDate" name="orderDate">
        <input type="hidden" id="hiddenComAdd" name="comAdd">
        <input type="hidden" id="hiddenBusinessId" name="businessId">
        <input type="hidden" id="hiddenComManager" name="comManager">
        <input type="hidden" id="hiddenContractPrice" name="contractPrice">
        <input type="hidden" id="hiddenInvoiceMemo" name="invoiceMemo">

        <h4 style="margin: 10px 0 15px 70px;">거래명세서</h4>
        <div style="box-shadow: 0 0 8px 8px rgba(114, 114, 114, 0.4); width: 96%; margin-left: 30px;">
          <div id="orderList" style="width: 85%; margin: 15px 0 0 100px; padding: 2px 0 0 0;">
            <table class="table table-bordered text-center">
              <thead>
              <tr class="table-secondary">
                <th scope="col" colspan="4">거래명세서</th>
              </tr>
              <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
              </colgroup>
              <tr>
                <th>거래명세서 번호</th>
                <td id="invoiceNumber"></td>
<!--                <th>입고번호</th>-->
<!--                <td id="receiveNum"><input name="receiveNum" placeholder="receiveNum"></td>-->
                <th>발행일</th>
                <td id="invoiceDate"></td>
              </tr>
              </thead>
            </table>

            <table class="table table-bordered text-center">
              <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
              </colgroup>
              <thead>
              <tr class="table-secondary">
                <th scope="col" colspan="4">공급자</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">발주일</th>
                <td id="orderDate"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">업체명</th>
                <td id="comName"></td>
                <th scope="row">사업자 번호</th>
                <td><span id="businessId"></span></td>
              </tr>
              <tr>
                <th scope="row">주소</th>
                <td><span id="comAdd"></span></td>
                <th scope="row">담당자</th>
                <td><span id="comManager"></span></td>
              </tr>
              </tbody>
            </table>

            <table class="table table-bordered text-center">
              <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
              </colgroup>
              <thead>
              <tr class="table-secondary">
                <th scope="col" colspan="4">공급받는자</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">업체명</th>
                <td id="recipientCompanyName">(주)CONNECT</td>
                <th scope="row">사업자 번호</th>
                <td id="recipientBusinessNumber">123-45-6789</td>
              </tr>
              <tr>
                <th scope="row">주소</th>
                <td id="recipientAddress">경기도 수원시 123</td>
                <th scope="row">담당자</th>
                <td id="Publisher"></td>
              </tr>
              </tbody>
            </table>
          </div>

          <div id="itemList" style="width: 85%; margin: 0 0 0 100px;">
            <table class="table table-bordered text-center">
              <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="15%">
                <col width="8%">
                <col width="8%">
                <col width="10%">
                <col width="15%">
              </colgroup>
              <thead>
              <tr class="table-secondary">
                <th scope="col" colspan="10">품목정보</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>발주번호</th>
                <th>품목코드</th>
                <th>품목명</th>
                <th>수량</th>
                <th>단가</th>
                <th>총액</th>
                <th>비고</th>
              </tr>
              <tr>
                <td id="orderNum"></td>
                <td id="itemIndex"></td>
                <td id="itemName"></td>
                <td id="orderCount"></td>
                <td id="contractPrice"></td>
                <td id="totalPrice"></td>
                <td id="invoiceMemo"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div style="text-align: center; margin: 30px 0 0 0;">
            <!-- 발행 버튼 -->
            <button type="button" class="btn btn-outline-success" onclick="window.print()">인쇄</button>
            <button type="button" class="btn btn-outline-success" onclick="saveAsPDF()">PDF로 저장</button>
            <br>
            <br>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- 거래명세서 작성 -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!--  <script>-->
<!--    //거래명세서 작성 폼-->
<!--    function successModal() {-->


<!--      // 선택된 라디오 버튼의 부모 tr 요소 가져오기-->
<!--      var selectedRow = selectedRadioButton.closest('tr');-->

<!--      // 선택된 행의 데이터 가져오기-->
<!--      var invoiceDate = selectedRow.querySelector('td:nth-child(2)').textContent;-->
<!--      var orderNum = selectedRow.querySelector('td:nth-child(3)').textContent;-->
<!--      var comName = selectedRow.querySelector('td:nth-child(4)').textContent;-->
<!--      var itemIndex = selectedRow.querySelector('td:nth-child(5)').textContent;-->
<!--      var itemName = selectedRow.querySelector('td:nth-child(6)').textContent;-->
<!--      var orderCount = selectedRow.querySelector('td:nth-child(7)').textContent;-->
<!--      var publisher = selectedRow.querySelector('td:nth-child(8)').textContent;-->

<!--      // // 숨겨진 입력 필드에서 값 가져오기-->
<!--      // var comAdd = document.getElementById('comAdd').value;-->
<!--      // var businessId = document.getElementById('businessId').value;-->
<!--      // var comManager = document.getElementById('comManager').value;-->

<!--      var invoiceNumber = selectedRow.querySelector('.invoiceNumber').value;-->
<!--      var orderDate = selectedRow.querySelector('.orderDate').value;-->
<!--      var comAdd = selectedRow.querySelector('.comAdd').value;-->
<!--      var businessId = selectedRow.querySelector('.businessId').value;-->
<!--      var comManager = selectedRow.querySelector('.comManager').value;-->
<!--      var contractPrice = selectedRow.querySelector('.contractPrice').value;-->
<!--      var invoiceMemo = selectedRow.querySelector('.invoiceMemo').value;-->

<!--      // totalPrice 추가-->
<!--      var totalPrice = parseInt(orderCount) * parseInt(contractPrice);-->

<!--      // 거래명세서 폼에 데이터 출력하기-->
<!--      document.getElementById('invoiceDate').textContent = invoiceDate;-->
<!--      document.getElementById('orderNum').textContent = orderNum;-->
<!--      document.getElementById('comName').textContent = comName;-->
<!--      document.getElementById('itemIndex').textContent = itemIndex;-->
<!--      document.getElementById('itemName').textContent = itemName;-->
<!--      document.getElementById('orderCount').textContent = orderCount;-->
<!--      document.getElementById('publisher').textContent = publisher;-->

<!--      // 숨겨진 입력 필드에서 값 가져오기-->
<!--      // document.getElementById('invoiceNumber').textContent = invoiceNumber;-->
<!--      // document.getElementById('orderDate').textContent = orderDate;-->
<!--      // document.getElementById('comAdd').textContent = comAdd;-->
<!--      // document.getElementById('comManager').textContent = comManager;-->
<!--      // document.getElementById('businessId').textContent = businessId;-->
<!--      // document.getElementById('contractPrice').textContent = contractPrice;-->
<!--      // document.getElementById('invoiceMemo').textContent = invoiceMemo;-->

<!--      document.getElementById('hiddenInvoiceNumber').value = invoiceNumber;-->
<!--      document.getElementById('hiddenOrderDate').value = orderDate;-->
<!--      document.getElementById('hiddenComAdd').value = comAdd;-->
<!--      document.getElementById('hiddenBusinessId').value = businessId;-->
<!--      document.getElementById('hiddenComManager').value = comManager;-->
<!--      document.getElementById('hiddenContractPrice').value = contractPrice;-->
<!--      document.getElementById('hiddenInvoiceMemo').value = invoiceMemo;-->

<!--      // 총액-->
<!--      document.getElementById('totalPrice').textContent = totalPrice;-->

<!--      // 모달 열기-->
<!--      document.getElementById('myModal2').style.display = 'block';-->


<!--    }-->

<!--    // 모달 닫기-->
<!--    function closeModal() {-->
<!--      document.getElementById('myModal2').style.display = 'none';-->
<!--    }-->

<!--    // 모달 외부 클릭 시 닫기-->
<!--    window.onclick = function (event) {-->
<!--      if (event.target == document.getElementById('myModal2')) {-->
<!--        closeModal();-->
<!--      }-->
<!--    }-->

<!--    // PDF로 저장하기-->
<!--    function saveAsPDF() {-->
<!--      var element = document.getElementById('myModal2');-->

<!--      html2canvas(element).then(canvas => {-->
<!--        var imgData = canvas.toDataURL('image/png');-->
<!--        var pdf = new jsPDF('p', 'mm', 'a4');-->
<!--        var imgWidth = 210;-->
<!--        var pageHeight = 295;-->
<!--        var imgHeight = canvas.height * imgWidth / canvas.width;-->
<!--        var heightLeft = imgHeight;-->

<!--        var position = 0;-->

<!--        pdf.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);-->
<!--        heightLeft -= pageHeight;-->

<!--        while (heightLeft >= 0) {-->
<!--          position = heightLeft - imgHeight;-->
<!--          pdf.addPage();-->
<!--          pdf.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);-->
<!--          heightLeft -= pageHeight;-->
<!--        }-->

<!--        pdf.save('document.pdf');-->
<!--      });-->
<!--    }-->
<!--  </script>-->

  </body>
</html>