<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link href="/css/part2/purchaseOrderForm.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
<header th:replace="/fragments/common:: navbar">
</header>

  <!--본문 -->
  <div class="container" style="margin-top: 50px;">
    <!-- <form action="" style="width: 100%; margin-left: 50px;"> -->
      <div>

      <!-- 내용 -->
      <div id="bodyBox">
        <div id="titleBox" class="d-flex justify-content-between" >
          <h3 style="font-weight: bold; margin: 20px 0 0 40px;">발주품목 선택</h3>
        </div>
        <div style="box-shadow: 0 0 8px 8px rgba(114, 114, 114, 0.4); width: 1500px; margin: 0 60px 0 0; height: 330px;">
            <div id="totalBox" class="d-flex justify-content-between" >
              <div id="dateBox">


                <!-- ----날짜별로 조회--- -->
                <!-- <form action="#" method="get">
                  <input class="form-control me-2" type="date" placeholder="등록된 날짜 검색" aria-label="Search" id="start_date"> ~ 
                  <input class="form-control me-2" type="date" placeholder="등록된 날짜 검색" aria-label="Search" id="end_date">
                  <button id="btn2" type="button">조회</button>
                </form> -->
                
                <div id="totalBox" class="d-flex justify-content-between">
                  <form action="#" method="get">
                  <div id="dateBox">
                    <input class="form-control me-2" type="date" placeholder="등록된 날짜 검색" aria-label="Search" id="start_date"> ~  
                    <input class="form-control me-2" type="date" placeholder="등록된 날짜 검색" aria-label="Search" id="end_date">
                    <!-- <button id="btn2" type="button" style="width: 150px;">조회</button> -->

                    <button type="button" class="btn btn-outline-success" style="width: 150px;" onclick="caldate()">조회</button>
                  </div>
                  </form>

                  <script>
                    function caldate(){
                        var start_date = document.getElementById("start_date").value;
                        var end_date =document.getElementById("end_date").value;
            
                        if(start_date <= end_date){
                        }
                        else if(start_date > end_date){
                          alert("종료날짜를 시작날짜보다 크게 입력하세요");
                        }
                        else{
                          alert("날짜를 입력하세요");
                        }
                    }
                  </script>
                </div>
                <!-- ------- -->


              </div>

              <!-- 업체명 품목명 조건 검색 -->
              <div id="searchBox" style="height: 40px; margin: 30px 10px 0 10px;">
                <form action="">
                <select id="selectBox">
                  <option value="">업체명</option>
                  <option value="">품목명</option>
                </select>
                <input type="text" id="searchText">
                <!-- <button id="btn3" type="button">검색</button> -->
                <button type="button" class="btn btn-outline-success">검색</button>
              </form>
              </div>
              <!-- 업체명 품목명 조건 검색 -->


            </div>


            <!-- 발주서 발주 기능 -->
          <form action="#" method="get" >
            <button type="submit" class="btn btn-outline-primary" style="margin: 0 22px 15px 0; float: right;">발주</button>
            <!-- <button id="btn1" type="submit" style="margin-top: 15px; margin-left: 1215px;">발주</button> -->
            <div id="orderList">
              <table class="table table-bordered text-center">
                <colgroup>
                  <col width="10%">
                  <col width="20%">
                  <col width="25%">
                  <col width="20%">
                  <col width="25%">
                </colgroup>
                <thead>
                  <tr class="table-secondary">
                    <th scope="col"></th>
                    <th scope="col">조달계획번호</th>
                    <th scope="col">업체명</th>
                    <th scope="col">품목명</th>
                    <th scope="col">조달납기일</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><input type="radio" value="" id="flexCheckDefault" name="selectradio"></th>
                    <td>plan-01</td>
                    <td>(주)MIT</td>
                    <td>테스트 품목</td>
                    <td>2024-05-15</td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="radio" value="" id="flexCheckDefault" name="selectradio"></th>
                    <td>plan-02</td>
                    <td>(주)오파스</td>
                    <td>대형 센서</td>
                    <td>2024-05-10</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
          <!-- 발주서 발주 기능 -->
      </div>
        

        <div id="titlebox2" class="d-flex justify-content-between">
          <h3 style="font-weight: bold; margin: 50px 0 0 30px;">발주서 작성</h3>
        </div>

<!-- 발주서 작성 -->
     <form action="#" method="get" style="box-shadow: 0 0 8px 8px rgba(114, 114, 114, 0.4);">
          <div style="float: right; margin: 5px 30px 5px 0;">
            
            <!-- <button id="btn4" type="button">저장</button> -->
            <button id="btn4" type="button" class="btn btn-outline-success" style="width: 60px; margin-left: 50px;">발주</button>
            <!-- <button id="btn5" type="button">취소</button> -->
            <!-- <button  id="btn5" type="button" class="btn btn-outline-danger" style="width: 60px;">Danger</button> -->
          </div>
        
        <div id="orderList">
          <table class="table table-bordered text-center">
            <colgroup>
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
            </colgroup>
            <thead>
              <tr class="table-secondary">
                <th scope="col" colspan="4">공급자정보</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">발주일</th>
                <td>2024-05-01</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">업체명</th>
                <td>(주)MIT</td>
                <th scope="row">사업자 번호</th>
                <td>123-45-6789</td>
              </tr>
              <tr>
                <th scope="row">주소</th>
                <td>경기도 수원시 123</td>
                <th scope="row">담당자</th>
                <td>담당자1</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="itemList">
          <table class="table table-bordered text-center">
            <colgroup>
              <col width="10%">
              <col width="7%">
              <col width="8%">
              <col width="15%">
              <col width="10%">
              <col width="13%">
              <col width="7%">
              <col width="5%">
              <col width="10%">
              <col width="10%">
              <col width="5%">
            </colgroup>
            <thead>
              <tr class="table-secondary">
                <th scope="col" colspan="10">품목정보</th>
                <th>삭제</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>순번</td>
                <td>품목코드</td>
                <td>품목명</td>
                <td>규격</td>
                <td>재질</td>
                <td>수량</td>
                <td>단가</td>
                <td>공급 가격</td>
                <td>입고 예정일</td>
                <td>비고</td>
              </tr>
              <tr>
                <th scope="row"><input type="checkbox" value="" id="flexCheckDefault"></th>
                <td>1</td>
                <td>ABC_10</td>
                <td>테스트 품목</td>
                <td>10*20*30</td>
                <td>플라스틱</td>
                <td><input type="text" width="50%" ;></td>
                <td>500</td>
                <td>250,000</td>
                <td><input type="date"></td>
                <td><input type="text"></td>
              </tr>
              <tr>
                <td scope="col" colspan="7"></td>
                <td>합계</td>
                <td>250,000</td>
                <td scope="col" colspan="2"></td>
              </tr>
              <tr>
                <td>특이사항</td>
                <td scope="col" colspan="10" style="height:150px;"></td>
              </tr>
            </tbody>
          </table>
        </div>
    </form>
    <!-- 발주서 작성 -->


        

        <form action=""></form>



        <div id="titleBox" class="d-flex justify-content-between">
          <h3 style="font-weight: bold; margin: 60px 0 0 40px;">구매 발주 관리</h3>
          <!-- <div>
            <button id="btn7" type="button">마감</button>
            <button id="btn5" type="button">삭제</button>
          </div> -->
        </div>

        <div style="box-shadow: 0 0 8px 8px rgba(114, 114, 114, 0.4); ">
        <div id="totalBox" class="d-flex justify-content-between" >
        <form action="#" method="get" style="padding: 20px 0 0 0 ;">
          <div id="dateBox">
            <input class="form-control me-2" type="date" placeholder="등록된 날짜 검색" aria-label="Search" id="start_date1"> ~  
            <input class="form-control me-2" type="date" placeholder="등록된 날짜 검색" aria-label="Search" id="end_date1">
            <!-- <button id="btn2" type="button">조회</button> -->
            <button type="button" class="btn btn-outline-success" style="width: 150px;" onclick="caldate1()">조회</button>
          </div>
        </form>

        <script>
          function caldate1(){
              var start_date = document.getElementById("start_date1").value;
              var end_date =document.getElementById("end_date1").value;
  
              if(start_date <= end_date){
              }
              else if(start_date > end_date){
                alert("종료날짜를 시작날짜보다 크게 입력하세요");
              }
              else{
                alert("날짜를 입력하세요");
              }
          }
        </script>


<!-- 업체명 품목명 리스트 검색 -->


        <form action="#" method="get" style="padding: 20px 0 0 0 ;">
          <div id="searchBox">
            <select id="selectBox">
              <option>업체명</option>
              <option>품목명</option>
            </select>
            <input type="text" id="searchText">
            <button type="button" class="btn btn-outline-success">검색</button>
            <!-- <button id="btn3" type="button">검색</button> -->
          </div>
        </form>


        <!-- 업체명 품목명 리스트 검색 -->


        </div>

        

      <form action="#" method="get">

          <div style="margin: 5px 15px 10px 0; float: right;">
            <button id="btn7" type="button">마감</button>
            <button id="btn5" type="button">삭제</button>
          </div>

          <div id="orderList">
            <table class="table table-bordered text-center">
              <colgroup>
                <col width="5%">
                <col width="15%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
              </colgroup>
              <thead>
                <tr class="table-secondary">
                  <th scope="col"></th>
                  <th scope="col">발주번호</th>
                  <th scope="col">업체명</th>
                  <th scope="col">품목명</th>
                  <th scope="col">발주일</th>
                  <th scope="col">발주 마감</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><input type="checkbox" value="" id="flexCheckDefault"></th>
                  <td>abc-01</td>
                  <td>(주)MIT</td>
                  <td>테스트 품목</td>
                  <td>2024-05-01</td>
                  <td>완료</td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox" value="" id="flexCheckDefault"></th>
                  <td>abc-01</td>
                  <td>(주)MIT</td>
                  <td>테스트 품목</td>
                  <td>2024-05-01</td>
                  <td>완료</td>
                </tr>
              </tbody>
            </table>
          </div>
      </form>
        </div>
      </div>
  </div> 
</div>
  <!-- 본문 -->
</body>

</html>